* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
	background-image: url("images/bg-intro-desktop.png");
	background-color: hsl(0, 100%, 74%);
	color: white;
	font-family: 'Poppins', sans-serif;
}

main {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

.intro {
	width: 50%;
	padding: 30px;
	margin: 20px;
}

.intro h2 {
	font-size: 3rem;
	font-weight: 700px;
}

.intro p {
	font-weight: 400px;
	font-size: 1.3rem;
	padding: 25px 0;
}

.parag {
	box-shadow: 5px 5px 5px grey;
}

.parag p {
	text-align: center;
	font-size: 14px;
}

.form-reg {
	padding: 30px;
	margin: 20px;
	width: 60%;
}

.form-reg div {
	background-color:hsl(248, 32%, 49%);
	padding: 15px;
	width: 80%;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 5px 10px 5px grey;
}

.form-reg form {
	background-color: white;
	border-radius: 10px;
	padding: 20px 0;
	width: 80%;
	height: 100%;
	text-align: center;
}

input {
	width: 90%;
	margin: 0 25px;
	padding: 13px;
	border: 1px grey solid;
	border-radius: 5px;
	font-weight: 400px;
}

#submit {
	background-color: hsl(154, 59%, 51%);
	border: none;
	box-shadow: 5px 5px 5px grey;
	color: inherit;
	font-weight: 300px;
}

.small {
	color: black;
	text-align: center; 
	margin-top: 15px;
}

.small a {
	color: red;
	text-decoration: none;
}

@media screen and (max-width: 1200px){
	main {
		display: flex;
		flex-direction: row;
		height: auto;

	}

	.intro {
		margin: 10px;
		padding-right: 40px;
		font-size: 2.5rem;
	}

	.form-reg {
		font-size: 1.3rem;
		margin: 0;
		width: 70%;
	}
	input {
		margin: 0 10px;
	}
}

@media screen and (max-width: 860px){
	main {
		display: flex;
		flex-direction: column;
		margin: 20px 0;
		height: auto;
		flex-wrap: wrap;
	}

	.intro, .form-reg {
		padding: 0 20px;
		width: 90%;
		height: auto;
	}

	.intro h2{
		font-size: 2rem;
	}

	.intro p {
	   font-size: 1.3rem;
	}

	.form-reg form, .form-reg div {
		width: 100%;
		font-size: 1.2rem;
	}

	input {
		margin: 0 10px;
		font-size: 0.9rem;
	}

}


@media screen and (max-width: 500px) {
	main {
		display: block;
		margin: 20px;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.intro h2 {
		font-size: 1.5rem;
	}

	.intro p {
		font-size: 1rem;
	}

	.form-reg {
		padding-left: 40px;
		text-align: center;
	}
	.form-reg form {
		height: auto;
	}

	input {
		margin: 0 10px;
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 375px) {

	body {
	background-image: url("images/bg-intro-desktop.png");
	background-color: hsl(0, 100%, 74%);
	text-align: center;
	}

	.intro, .form-reg {
		display: block;
		padding: 0 20px;
		width: 90%;
		height: auto;
		margin: 0;
	}

	.intro h2 {
		font-size: 1.2rem;
	}

	.intro p {
		font-size: 0.9rem;
	}
	.form-reg form, .form-reg div {
		width: 100%;
		font-size: 0.8rem;
	}

	.form-reg form {
		padding: 10px;
	}

	input {
		padding: 10px;
		margin: 0 10px;
		font-size: 0.7rem;
	}
}